{% load i18n pages_tags %}
{#{% spaceless %}#}
{% if page_branch_in_menu %}

    {% if branch_level == 0 %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav top-nav-info">
                {% for page in page_branch %}
                    {% if not has_home and page.is_primary and forloop.first %}
                        <li>
                            <a {% if on_home %} class="active"{% endif %}
                                                href="{% url "home" %}">{% trans "Home" %}</a>
                        </li>
                    {% endif %}
                    {% if page.in_menu %}
                        <li class="dropdown">
                            <a href="{{ page.get_absolute_url }}" class="dropdown-toggle" data-toggle="dropdown">
                                {{ page.title }}
                                {% if page.has_children_in_menu %}<b class="caret"></b>{% endif %}
                            </a>
                            {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    {% elif branch_level == 1 %}
        <ul class="dropdown-menu multi-column multi-column1">
            <div class="row">
                <div class="col-sm-4 menu-grids menulist1">
                    {% for page in page_branch %}
                        {% if page.in_menu %}
                            <a href="{{ page.get_absolute_url }}"><h4>{{ page.title }}</h4></a>
                            {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </ul>
    {% else %}
        <ul class="multi-column-dropdown ">
            {% for page in page_branch %}
                {% if page.in_menu %}
                    <li><a class="list" href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{#{% endspaceless %}#}