<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static "css/bootstrap.css" %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static "css/style.css" %}"/>
<link rel="stylesheet" type="text/css" media="screen" href="{% static "css/flexslider.css" %}"/>
{% block extra_css %}{% endblock %}
<link href= "{% static "css/animate.min.css" %}" rel="stylesheet">
{% endcompress %}

{% compress js %}
<!--js-->
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/modernizr.custom.js" %}"></script>
<!--//js-->
<!--cart-->
<script src="{% static "js/simpleCart.min.js" %}"></script>
<!--cart-->
{#<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>#}
{#<script src="{% static "js/bootstrap.js" %}"></script>#}
{#<script src="{% static "js/bootstrap-extras.js" %}"></script>#}
<!--animation-effect-->

<script src= "{% static "js/wow.min.js" %}"></script>
	<script>
	 new WOW().init();
	</script>
<!--//animation-effect-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src= "{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src= "{% static "js/easing.js" %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->

    {% block extra_js %}{% endblock %}


{#<!--[if lt IE 9]>#}
{#<script src="{% static "js/html5shiv.js" %}"></script>#}
{#<script src="{% static "js/respond.min.js" %}"></script>#}
{#<![endif]-->#}

<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'><link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
<!--web-fonts-->

{% block extra_head %}{% endblock %}
{% endcompress %}
</head>

<body id="{% block body_id %}body{% endblock %}">

	<!--header-->
	<div class="header">
		<div class="top-header navbar navbar-default"><!--header-one-->
			<div class="container">
				<div class="nav navbar-nav wow fadeInLeft animated" data-wow-delay=".5s">
					<p>{% trans "Добро пожаловать на " %}{{ settings.SITE_TITLE }}<a href="/">{% trans " зарегистрироватся" %}</a>{% trans " или" %}<a href="signin.html">{% trans " войти" %}</a></p>
				</div>
				<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated" data-wow-delay=".5s">
					<ul>
						<li><a href="#"> </a></li>
						<li><a href="#" class="pin"> </a></li>
						<li><a href="#" class="in"> </a></li>
						<li><a href="#" class="be"> </a></li>
						<li><a href="#" class="you"> </a></li>
						<li><a href="#" class="vimeo"> </a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="header-two navbar navbar-default"><!--header-two-->
			<div class="container">
				<div class="nav navbar-nav header-two-left">
					<ul>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+38(063)263-063-4</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:mail@baby-me.com.ua">mail@baby-me.com.ua</a></li>
					</ul>
				</div>
				<div class="nav navbar-nav logo wow zoomIn animated" data-wow-delay=".7s">
                    <h1><a href="/">Baby <b>Me</b></b><span class="tag">{{ settings.SITE_TAGLINE }}</span> </a></h1>
				</div>
				<div class="nav navbar-nav navbar-right header-two-right">
					<div class="header-right my-account">
						<a href="contact.html"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{% trans " КОНТАКТЫ" %}</a>
					</div>
					<div class="header-right cart">
						<a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
						<h4><a href="checkout.html">
								<span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)
						</a></h4>
						<div class="cart-box">
							<p><a href="javascript:;" class="simpleCart_empty">{% trans "Очистить" %}</a></p>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="top-nav navbar navbar-default"><!--header-three-->
			<div class="container">
				<nav class="navbar" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!--navbar-header-->

                    {% block navbar_dropdown_menu %}{% page_menu "menu/dropdown.html" %}{% endblock%}
						<!--//navbar-collapse-->
						<header class="cd-main-header">
							<ul class="cd-header-buttons">
								<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
							</ul> <!-- cd-header-buttons -->
						</header>
					<!--//navbar-header-->
				</nav>
				<div id="cd-search" class="cd-search">
					<form>
						<input type="search" placeholder={% trans "Поиск..." %}>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--//header-->
    {% block body %}{% endblock %}
	<!--footer-->
    {% block footer %}{% page_menu "footer.html" %}{% endblock%}
	<!--//footer-->
	<!--search jQuery-->
    {% compress js %}
	<script src= "{% static "js/main.js" %}"></script>
	<!--//search jQuery-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {

			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!--Bootstrap core JavaScript
    ================================================== -->
    <!--Placed at the end of the document so the pages load faster -->
    <script src= "{% static "js/bootstrap.js" %}"></script>
{% endcompress %}
</body>
</html>
