{% load staticfiles mezzanine_tags shop_tags rating_tags i18n %}

	<div class="footer">
		<div class="container">
			<div class="footer-info">
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
					<h4 class="footer-logo"><a href="/">Baby <b>Me</b></b><span class="tag">{{ settings.SITE_TAGLINE }}</span></a></h4>
					<p>© 2017 Me UA. {% trans "Все права защищены | Дизайн:" %} <a href="http://" target="_blank">Volodumyr Gumenyuk</a></p>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
					<h3>{% trans "Популярное" %}</h3>
					<ul>
						<li><a href="about.html">{% trans "О нас" %}</a></li>
						<li><a href="products.html">{% trans "Новые поступления" %}</a></li>
						<li><a href="contact.html">{% trans "Контакты" %}</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="checkout.html">{% trans "Список желаемого" %}</a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
					<h3>{% trans "Подписатся" %}</h3>
					<p>{% trans "Будьте всегда в курсе" %}<br>{% trans " наших новостей " %}</p>
					<form>
						<input type="text" placeholder={% trans "почта" %} required="">
						<input type="submit" value={% trans "Подписатся" %}>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
